PREFERRED_API=VULKAN; //VULKAN, GL, DX11, DX12
DEFAULT_API=GL;
WINDOW_MODE=WINDOWED;   //FULL, BORDERLESS, WINDOWED, NO_RESIZE
MONITOR=-1; //-1 for auto select
REFRESH_RATE=60; //In hertz
RESOLUTION=800,600; //In pixels
APP_NAME=Huntress
APP_VERSION=0,0,1;
MULTI_GPU=FALSE;
GPU=-1; //-1 for auto pick, number for user selected
COMPUTE_REQUIRED=TRUE;
GPU_FEATURE=SAMPLER_ANISOTROPY;
SURFACE_FORMAT=B8G8R8A8_UNORM;
SURFACE_COLOR_SPACE=SRGB_NONLINEAR;
PRESENT_MODE=FIFO_RELAXED;
SWAPCHAIN_BUFFERING=2;
DEPTH_FORMAT=D32_SFLOAT;
GAME_PATH=C:/Users/Gersh/Documents/HuntressDemo/;
ANTI_ALIASING=MULTI_SAMPLING;
ANTI_ALIASING_RES=4;
ANISOTROPY_RES=4;